<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!--Menu-->



    <menuitem name="Stores" id="menu_store" sequence="40"/>
    <menuitem name="Pharmacy" id="menu_pharmacy" sequence="50"/>
    <menuitem name="Laboratory" id="menu_lab" sequence="60"/>
    <menuitem name="Accounts" id="menu_accounts" sequence="10"/>


    <!--Patient-->
    <menuitem name="Patient" id="menu_patient" sequence="10"/>
    <menuitem name="Out-Patient" id="hospital_out_patient" parent="menu_patient" sequence="10"/>
    <menuitem name="In-Patient" id="hospital_in_patient" parent="menu_patient" sequence="20"/>


    <!--Employee-->
    <menuitem name="Employee" id="menu_employee" sequence="20"/>
    <menuitem name="Contact" id="hospital_employee_contact" parent="menu_employee" sequence="10"/>
    <menuitem name="Time Management" id="hospital_employee_time" parent="menu_employee" sequence="20"/>
    <menuitem name="Leave management" id="hospital_employee_leave" parent="menu_employee" sequence="30"/>
    <menuitem name="payroll" id="hospital_employee_payroll" parent="menu_employee" sequence="40"/>
    <menuitem name="Employee Enroll/Exit" id="hospital_employee_ee" parent="menu_employee" sequence="50"/>
    <menuitem name="Others" id="hospital_employee_others" parent="menu_employee" sequence="60"/>


    <!--Hospital-->
    <menuitem name="Hospital" id="menu_hospital" sequence="30"/>
    <menuitem name="Contact" id="hospital_contact" parent="menu_hospital" sequence="10"/>
    <menuitem name="Organisational Structure" id="hospital_organisational_structure" parent="menu_hospital" sequence="20"/>
    <menuitem name="Department" id="hospital_department" parent="menu_hospital" sequence="30"/>
    <menuitem name="Ward" id="hospital_ward" parent="menu_hospital" sequence="40"/>
    <menuitem name="Operation Theater" id="hospital_operation_theater" parent="menu_hospital" sequence="50"/>
    <menuitem name="Maintenance" id="hospital_maintenance" parent="menu_hospital" sequence="60"/>
    <menuitem name="Payment" id="hospital_payment" parent="menu_hospital" sequence="70"/>
    <menuitem name="Billing" id="hospital_billing" parent="menu_hospital" sequence="80"/>
    <menuitem name="Others" id="hospital_others" parent="menu_hospital" sequence="90"/>


    <!--Store-->
    <menuitem name="Store" id="menu_store" sequence="40"/>
    <menuitem name="Store Request" id="hospital_store_sr" parent="menu_store" sequence="10"/>
    <menuitem name="Store Issue" id="hospital_store_si" parent="menu_store" sequence="20"/>
    <menuitem name="Stock" id="hospital_store_stock" parent="menu_store" sequence="30"/>

    <menuitem name="Product" id="hospital_store_product" parent="menu_store" sequence="40"/>
    <menuitem name="Group" id="hospital_store_product_group" parent="hospital_store_product" sequence="10"/>
    <menuitem name="Sub-Group" id="hospital_store_product_sub_group" parent="hospital_store_product" sequence="20"/>
    <menuitem name="Product Type" id="hospital_store_product_type" parent="hospital_store_product" sequence="30"/>
    <menuitem name="Product UOM" id="hospital_store_product_uom" parent="hospital_store_product" sequence="40"/>
    <menuitem name="Product Tax" id="hospital_store_product_tax" parent="hospital_store_product" sequence="50"/>
    <menuitem name="Product Sales Price" id="hospital_store_product_sales_price" parent="hospital_store_product" sequence="60"/>
    <menuitem name="Product Purchase Price" id="hospital_store_product_purchase_price" parent="hospital_store_product" sequence="70"/>


    <menuitem name="Purchase" id="hospital_store_purchase" parent="menu_store" sequence="50"/>

    <!--Pharmacy-->
    <menuitem name="Pharmacy" id="menu_pharmacy" sequence="50"/>
    <menuitem name="Billing" id="hospital_pharmacy_billing" parent="menu_pharmacy" sequence="10"/>
    <menuitem name="Stock" id="hospital_pharmacy_stock" parent="menu_pharmacy" sequence="20"/>
    <menuitem name="Report" id="hospital_pharmacy_report" parent="menu_pharmacy" sequence="30"/>

    <!--Laboratory-->
    <menuitem name="Laboratory" id="menu_lab" sequence="60"/>
    <menuitem name="Lab-Form" id="hospital_lab_form" parent="menu_lab" sequence="10"/>
    <menuitem name="Lab-Test" id="hospital_lab_test" parent="menu_lab" sequence="20"/>
    <menuitem name="Billing" id="hospital_lab_billing" parent="menu_lab" sequence="30"/>
    <menuitem name="Report" id="hospital_lab_report" parent="menu_lab" sequence="40"/>


    <!--Accounts-->
    <menuitem name="Accounts" id="menu_accounts" sequence="70"/>
    <menuitem name="Journal Entries" id="hospital_account_journal" parent="menu_accounts" sequence="10"/>
    <menuitem name="Ledger" id="hospital_account_ledger" parent="menu_accounts" sequence="20"/>
    <menuitem name="Trail Balance" id="hospital_trail_balance" parent="menu_accounts" sequence="30"/>
    <menuitem name="Profit Loss" id="hospital_profit_loss" parent="menu_accounts" sequence="40"/>
    <menuitem name="Bank Statement" id="hospital_bank_statement" parent="menu_accounts" sequence="50"/>


</odoo>